In [1]:
import pandas as pd
import os

In [56]:
#df = pd.read_csv('calls_75001.csv')
#df = pd.read_csv('calls_75002.csv')
#df = pd.read_csv('calls_75003.csv')
df = pd.read_csv('calls_99002.csv')

In [57]:
df.head()

,USV_id,Rec_id,type_id,Nlx_time,duration,contact,emitter,emitter_sex,side,recipient_sex,Nlx_adjusted,onset_phase,rat_intensity,rat_cluster,emitter_cluster
0,263184,99002,5,3599895.98,39.98,0,L,m,NaN,NaN,3599895.98,NaN,1572.0,1572,L
1,263183,99002,5,3599879.88,35.02,0,L,m,NaN,NaN,3599879.88,NaN,1572.0,1572,L
2,263182,99002,1,3599604.46,85.51,0,I,f,NaN,NaN,3599604.46,NaN,1555.0,1572,L
3,263181,99002,1,3599482.37,40.64,0,L,m,NaN,NaN,3599482.37,NaN,1572.0,1572,L
4,263180,99002,5,3599470.88,36.67,0,L,m,NaN,NaN,3599470.88,NaN,1572.0,1572,L

In [58]:
df['emitter'].replace({'I': 'R14', 'L': 'R14-M1', 'R': 'R13-M2', 'U': 'unknown'}, inplace=True)

In [59]:
# for partner paradigms
#df['emitter'].replace({'I': 'R10', 'S': 'R10-F1', 'U': 'unknown'}, inplace=True)

In [60]:
df['emitter_sex'].replace({'m':'male', 'f':'female'}, inplace=True)

In [61]:
df.head()

,USV_id,Rec_id,type_id,Nlx_time,duration,contact,emitter,emitter_sex,side,recipient_sex,Nlx_adjusted,onset_phase,rat_intensity,rat_cluster,emitter_cluster
0,263184,99002,5,3599895.98,39.98,0,R14-M1,male,NaN,NaN,3599895.98,NaN,1572.0,1572,L
1,263183,99002,5,3599879.88,35.02,0,R14-M1,male,NaN,NaN,3599879.88,NaN,1572.0,1572,L
2,263182,99002,1,3599604.46,85.51,0,R14,female,NaN,NaN,3599604.46,NaN,1555.0,1572,L
3,263181,99002,1,3599482.37,40.64,0,R14-M1,male,NaN,NaN,3599482.37,NaN,1572.0,1572,L
4,263180,99002,5,3599470.88,36.67,0,R14-M1,male,NaN,NaN,3599470.88,NaN,1572.0,1572,L

In [62]:
df.to_csv('clean_calls_99002.csv')

In [ ]:
#df = pd.read_csv('calls_71001.csv')
#df = pd.read_csv('calls_71002.csv')
#df = pd.read_csv('calls_71003.csv')
#df = pd.read_csv('calls_71004.csv')

In [ ]:
# df['emitter'].replace({'I': 'R11', 'S': 'F1-R11', 'U': 'unknown'}, inplace=True)

In [ ]:
# df['emitter_sex'].replace({'m':'male', 'f':'female'}, inplace=True)

In [ ]:
# df.head()

In [ ]:
#df.to_csv('clean_calls_71003.csv')