In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('recs_50_99.csv', sep=';', decimal=',')

In [7]:
df.head()

,rec_id,session_id,paradigm,stimulus,stimulus_status,stimulus_side,stimulus_novelty,objects,object_side,object_novelty,start_time,end_time
0,50002,50,chooser,R8-F1,pr,left,0,NaN,NaN,0,1467199.30,1790154.23
1,50002,50,chooser,R8-M4,NaN,right,1,NaN,NaN,0,1467199.30,1790154.23
2,50005,50,chooser,R8-M2,NaN,left,0,NaN,NaN,0,3014350.23,3361553.72
3,50005,50,chooser,R8-F2,di,right,0,NaN,NaN,0,3014350.23,3361553.72
4,60002,60,partner,R10-F1,es,NaN,0,NaN,NaN,0,1763534.31,2357518.93

In [8]:
df.to_csv('recs_50_99.csv')